{
  "all": true,
  "lines": 80,
  "functions": 80,
  "branches": 80,
  "statements": 80,
  "include": ["src/**/*.ts"],
  "exclude": ["**/*.spec.ts", "src/tests/**/*", "src/frontend/**/*"],
  "reporter": ["text", "html"], 
  "report-dir": "./coverage"
}
